python-dotenv
requests
fastapi
streamlit
streamlit-ace
streamlit-clipboard
langchain
streamlit-authenticator
streamlit-extras
streamlit-confetti
bcrypt
pyyaml
sqlalchemy
openai
langchain_openai
langgraph
firebase-admin
pyrebase4